.center {
    text-align: center;
}

.tb-ovrflw {
    overflow-x:auto;
}

.tabular-parent {
    width: 100%;
}

.tabular {
    width: 100%;
    text-align: center;
    margin: 2px 0 16px 0;
}

.tabular {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.tabular thead {
    background: #161e2c;
    color: white;
}

.tabular td, .tabular th {
    border: 1px solid #ddd;
    padding: 8px;
}

.tabular tr:nth-child(even){background-color: #f2f2f2;}

.tabular tbody>tr:hover {background-color: #ddd;}

.success-msg {
    color: green;
    font-weight: 600;
}

.error-msg {
    color: red;
    font-weight: 600;
}

.thead, .tfoot {
    display: flex;
    justify-content: space-between;
    padding: 8px 2px 8px 2px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.thead select {
    height: 30px;
    margin-left: 5px;
}

.thead>input {
    height: 30px;
    border: 1px solid #ccc;
    padding: 10px;
}

.thead>div, .tfoot>span {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*
 * Pagination CSS
 */

.pagination {
    display: inline-block;
}

.paginate_button {
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: 0.5em 1em;
    margin-left: 2px;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    color: #333 !important;
    border: 1px solid transparent;
    border-radius: 2px;
}

.paginate_button.current {
    color: #333 !important;
    border: 1px solid #979797;
    background-color: white;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #dcdcdc));
    background: -webkit-linear-gradient(top, #fff 0%, #dcdcdc 100%);
    background: -moz-linear-gradient(top, #fff 0%, #dcdcdc 100%);
    background: -ms-linear-gradient(top, #fff 0%, #dcdcdc 100%);
    background: -o-linear-gradient(top, #fff 0%, #dcdcdc 100%);
    background: linear-gradient(to bottom, #fff 0%, #dcdcdc 100%);
}

.paginate_button:hover {
    color: white !important;
    border: 1px solid #111;
    background-color: #585858;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #585858), color-stop(100%, #111));
    background: -webkit-linear-gradient(top, #585858 0%, #111 100%);
    background: -moz-linear-gradient(top, #585858 0%, #111 100%);
    background: -ms-linear-gradient(top, #585858 0%, #111 100%);
    background: -o-linear-gradient(top, #585858 0%, #111 100%);
    background: linear-gradient(to bottom, #585858 0%, #111 100%);
}

.paginate_button.disabled {
    cursor: default;
    color: #ccc !important;
    border: 1px solid transparent;
    background: transparent;
    box-shadow: none;
}