:root {
    --font-family: Roboto,Helvetica Neue,sans-serif;
    --font-size: 87%;
    --line-height: 1.5em;
}

.center {
    text-align: center;
}

.tb-ovrflw {
    overflow-x: auto;
    min-height: 415px;
    position: relative;
    background-color: rgba(245, 222, 179, 0.219);
}

.tabular-parent {
    width: 100%;
    display: block;
    align-items: center;
    justify-content: center;
    min-height: 100px;
    font-family: var(--font-family);
    font-size: var(--font-size);
}

.tabular {
    width: 100%;
    text-align: center;
    margin: 2px 0 2px 0;
}

.tabular {
    /* font-family: var(--font-family);
    font-size: var(--font-size); */
    border-collapse: collapse;
    width: 100%;
}

.tabular thead {
    background: #161e2c;
    color: white;
}

.tabular td, .tabular th {
    border: 1px solid #ddd;
    padding: 8px;
}

.tabular tr:nth-child(even){background-color: #f2f2f283;}

.tabular tbody>tr:hover {background-color: rgba(221, 221, 221, 0.473);}

.no-data{
    background-color: #ccc;
}

.success-msg {
    color: green;
    font-weight: 600;
}

.error-msg {
    color: red;
    font-weight: 600;
}

.thead, .tfoot {
    display: flex;
    justify-content: space-between;
    padding: 8px 2px 8px 2px;
    /* font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; */
    /* font-size: 14px; */
}

.thead select {
    height: 30px;
    margin-left: 5px;
}

.thead>input {
    height: 30px;
    border: 1px solid #ccc;
    padding: 10px;
}

.thead>div, .tfoot>span {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*
 * Pagination CSS
 */

.pagination {
    display: inline-block;
}

.paginate_button {
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: 0.5em 1em;
    margin-left: 2px;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    color: #333 !important;
    border: 1px solid transparent;
    border-radius: 2px;
}

.paginate_button.current {
    color: #333 !important;
    border: 1px solid #979797;
    background-color: white;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #dcdcdc));
    background: -webkit-linear-gradient(top, #fff 0%, #dcdcdc 100%);
    background: -moz-linear-gradient(top, #fff 0%, #dcdcdc 100%);
    background: -ms-linear-gradient(top, #fff 0%, #dcdcdc 100%);
    background: -o-linear-gradient(top, #fff 0%, #dcdcdc 100%);
    background: linear-gradient(to bottom, #fff 0%, #dcdcdc 100%);
}

.paginate_button:hover {
    color: white !important;
    border: 1px solid #111;
    background-color: #585858;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #585858), color-stop(100%, #111));
    background: -webkit-linear-gradient(top, #585858 0%, #111 100%);
    background: -moz-linear-gradient(top, #585858 0%, #111 100%);
    background: -ms-linear-gradient(top, #585858 0%, #111 100%);
    background: -o-linear-gradient(top, #585858 0%, #111 100%);
    background: linear-gradient(to bottom, #585858 0%, #111 100%);
}

.paginate_button.disabled {
    cursor: default;
    color: #ccc !important;
    border: 1px solid transparent;
    background: transparent;
    box-shadow: none;
}

/*BS Labels styles*/
/* .label {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
} */
.label-default {
    border: 2px solid #777;
}
.label-blue {
    border: 2px solid  #337ab7;
}
.label-green {
    border: 2px solid  #5cb85c;
}
.label-red {
    border: 2px solid  #d9534f;
}
.label-skyblue {
    border: 2px solid  #5bc0de;
}
.label-orange {
    border: 2px solid  #f0ad4e;
}
.label {
    display: inline;
    padding: 0.3em .7em .4em;
    font-size: 94%;
    font-weight: 500;
    /* font-weight: 700; */
    line-height: 1;
    color: #000;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25em;
}

/*Modal CSS*/
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    background-color: #7777777a;
    /* font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; */
}

.modal-dialog {
    position: relative;
    width: 750px;
    margin: 150px auto;
    background: white;
    z-index: 2000;
}

.modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
}
.modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
}

.modal-header {
    padding: 10px;
    border-bottom: 1px solid #e5e5e5;
    font-size: 16px
}

.modal-body {
    position: relative;
    padding: 15px;
}

.modal-body label{
    font-weight: 600;
    margin-right: 5px
}

.modal-body input{
    line-height: 3;
    background-color: rgba(255, 255, 255, 0.863);
    border: 1.5px solid;
    font-size: 13px;
    padding: 0 0 0 3px;
    margin: 3px 0 3px 0;
}

.modal-body input:disabled{
    background-color: #cccccc7a;
}

.modal-body textarea{
    background-color: rgba(255, 255, 255, 0.863);
    border: 1.5px solid;
    font-size: 13px;
}

.modal-body textarea:disabled{
    background-color: #cccccc7a;
}

.modal-footer {
    clear: both;
    padding: 5px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}

.modal-header .close {
    margin-top: -2px;
}
button, html [type=button], [type=reset], [type=submit] {
    -webkit-appearance: button;
}
button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
}
.close {
    float: right;
    font-size: 15px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}

.close::after{
    content: "\292C";
}

.close:focus, .close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=50);
    opacity: .5;
}

/*Drop-Down Styles*/
.dropdown {
    position: relative;
}

.dropdown:hover .dropdown-menu{
    display: block;
}

.dropdown:focus .dropdown-menu{
    display: block;
}

.dropdown-menu {
    display: none;

    position: absolute;
    top: 93%;
    left: 0;
    z-index: 1000;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    text-decoration: none;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
}

/*Buttons BS styles*/
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin: 2px 2px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.btn.active, .btn:active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.btn-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}

.btn-warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}

.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default {
    background-image: none;
}

.btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover {
    color: #333;
    background-color: #d4d4d4;
    border-color: #8c8c8c;
}

.btn-default:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {
    color: #fff;
    background-color: #204d74;
    border-color: #122b40;
}

.btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary {
    background-image: none;
}
.btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}
.btn-primary:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}

.btn-success.active.focus, .btn-success.active:focus, .btn-success.active:hover, .btn-success:active.focus, .btn-success:active:focus, .btn-success:active:hover, .open>.dropdown-toggle.btn-success.focus, .open>.dropdown-toggle.btn-success:focus, .open>.dropdown-toggle.btn-success:hover {
    color: #fff;
    background-color: #398439;
    border-color: #255625;
}
.btn-success.active, .btn-success:active, .open>.dropdown-toggle.btn-success {
    background-image: none;
}
.btn-success.active, .btn-success:active, .open>.dropdown-toggle.btn-success {
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
}
.btn-success:hover {
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
}

.btn-info.active.focus, .btn-info.active:focus, .btn-info.active:hover, .btn-info:active.focus, .btn-info:active:focus, .btn-info:active:hover, .open>.dropdown-toggle.btn-info.focus, .open>.dropdown-toggle.btn-info:focus, .open>.dropdown-toggle.btn-info:hover {
    color: #fff;
    background-color: #269abc;
    border-color: #1b6d85;
}
.btn-info.active, .btn-info:active, .open>.dropdown-toggle.btn-info {
    background-image: none;
}
.btn-info.active, .btn-info:active, .open>.dropdown-toggle.btn-info {
    color: #fff;
    background-color: #31b0d5;
    border-color: #269abc;
}
.btn-info:hover {
    color: #fff;
    background-color: #31b0d5;
    border-color: #269abc;
}

.btn-warning.active.focus, .btn-warning.active:focus, .btn-warning.active:hover, .btn-warning:active.focus, .btn-warning:active:focus, .btn-warning:active:hover, .open>.dropdown-toggle.btn-warning.focus, .open>.dropdown-toggle.btn-warning:focus, .open>.dropdown-toggle.btn-warning:hover {
    color: #fff;
    background-color: #d58512;
    border-color: #985f0d;
}
.btn-warning.active, .btn-warning:active, .open>.dropdown-toggle.btn-warning {
    background-image: none;
}
.btn-warning.active, .btn-warning:active, .open>.dropdown-toggle.btn-warning {
    color: #fff;
    background-color: #ec971f;
    border-color: #d58512;
}
.btn-warning:hover {
    color: #fff;
    background-color: #ec971f;
    border-color: #d58512;
}

.btn-danger.active.focus, .btn-danger.active:focus, .btn-danger.active:hover, .btn-danger:active.focus, .btn-danger:active:focus, .btn-danger:active:hover, .open>.dropdown-toggle.btn-danger.focus, .open>.dropdown-toggle.btn-danger:focus, .open>.dropdown-toggle.btn-danger:hover {
    color: #fff;
    background-color: #ac2925;
    border-color: #761c19;
}
.btn-danger.active, .btn-danger:active, .open>.dropdown-toggle.btn-danger {
    background-image: none;
}
.btn-danger.active, .btn-danger:active, .open>.dropdown-toggle.btn-danger {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
}
.btn-danger:hover {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
}

.cdd-frm label{
    width: 100%;
    margin-bottom: 4px;
    float: left;
}

.cdd-frm input{
    width: 100%;
    margin-bottom: 4px;
    float: left;
}

.cdd-frm-div{
    width: 45%;
    float: left;
    margin-right: 10px;
}

.filter-dropdown {
    margin-top: 6px;
}

.filter-dropdown select {
    background-color: #171e2c;
    color: white;
    font-size: 10px;
    height: 25px;
    border: 2px solid;
}